* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-right: 300px;
}

.logo img{
  border: 1px solid white;
  border-radius: 36px;
  margin-top: 10px;
  margin-bottom: 07px;
  height: 70px;
  width: 190px;
}
#menu-h ul{
  display: flex;
  background-color: #17885b;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
#menu-h ul li {
  display: inline-block;
  text-align: center;
}
#menu-h ul li a {
  color: #fff;
  padding: 17px;
  display: inline-block;
  text-decoration: none;    
  transition: background .4s;
  border: 1px solid white;
  border-radius: 36px;
  width: 120px;
}
#menu-h ul li a:hover {
  background-color:#789217;
}


body {
  background-image: url(../images/bandeira.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.banner {
  background-image: url(../images/banner-principal_sergipe.jpg);
  width: 100vw;
  height: 532px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
  margin-bottom: 80px;
}

h2 {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 50px;
  color: #222;
  font-weight: 700;
  padding-left: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 330px;
  height: 500px;
  background-color: beige;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px 10px 0 0;
}

.card p {
  width: 90%;
  text-align: justify;
  margin-bottom: 20px;
  color: #222;
}

.card h3 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 30px;
}

.video {
  margin-bottom: 150px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video iframe {
  width: 92vw;
  height: 500px;
}

@media(max-width: 425px) {
/*===================Gilmar-Inicio========================*/
header {
  margin-bottom: 50px;
}
header ul {
    margin-bottom: 07px;       
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
}
header ul li {
    margin-bottom: 07px;
}
.logo {
    margin: 0;
}
.logo img{
    width: 90vw;
}
/*===================Gilmar - Final========================*/

  .banner {
      display: none;
  }

  h2 {
      font-size: 2rem;
      text-align: center;
      padding-left: 0;
  }

  .cards {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
  }

  .card {
      margin-bottom: 30px;
  }

  .video iframe {
      height: 300px;
  }

  footer {
    flex-direction: column;
    height: 100%;
  }

  footer .perfil {
    height: 120px;
    padding-bottom: 10px;
  }

  .perfil img, a {
    margin-top: 10px;
  }

}
footer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 120px;
  background-color: #17885b;
}

footer .perfil {
 display: flex;
 align-items: center;
 justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #17885b;
}

.perfil img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
footer a {
  margin-left: 1em;
  width: 36px;
  height: 36px;
}