* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bandeira-do-fumo-de-sergipe-estado-brasil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner {
    background-image: url(../images/banner-principal_sergipe.jpg);
    width: 100%;
    height: 532px;
    background-repeat: no-repeat;
    background-size: cover;
}